{% extends "template/base.html" %}

{% block title %}Login{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; text-transform: uppercase; }
    </style>
{% endblock %}
{% block content %}
    <div id="content" class="grid-two-column">
        <aside>
            <h1>aside</h1>
         </aside>
         <div class="section box">
            <h2>Login</h2>
            <form>
                <div class="inputBox">
                    <label for="userName">Username</label>
                    <input type="text" name="userName" id="userName" placeholder="type your username" autocomplete required/>
                </div>
                <div class="inputBox">
                    <label for="userPassword">Password</label>
                    <input type="password" name="current-password" id="userPassword" placeholder="type your password"
                        autocomplete required/>
                </div>
                <div>
                    <button type="submit" name="" style="float: left;">Submit</button>
                    <a class="button" href="/register" style="float: left;">Register</a>
                </div>
            </form>
         </div>
    </div>
{% endblock %}