{% extends "template/base.html" %}

{% block title %}Login{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; text-transform: uppercase; }
    </style>
{% endblock %}
{% block content %}
    <div id="content" class="grid-two-column">
        <aside>
            <h1>aside</h1>
         </aside>
         <div class="section box">
            <h2>Login</h2>
            <form>
                <div class="inputBox">
                    <label for="passphrase">passphrase</label>
                    <input type="password" name="current-password" id="passphrase" placeholder="type your passphrase"
                        autocomplete required/>
                </div>
                <div class="inputBox">
                    <label for="username">address</label>
                    <input type="text" name="username" id="username" readonly/>
                </div>
                <div>
                    <button type="button" id="login" style="float: left;">Enter</button>
                </div>
            </form>
         </div>
    </div>
{% endblock %}
{% block html_body_js_bottom %}
    {{ parent() }}
    <script src="{{ URL }}{{ webpack_inc('login.js') }}"></script>
{% endblock %}