{% extends "template/base.html" %}

{% block title %}Register{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; text-transform: uppercase; }
    </style>
{% endblock %}
{% block content %}
    <div id="content" class="grid-two-column">
        <aside>
            <h1>aside</h1>
         </aside>
         <div class="section box">
            <h2>Register</h2>
            <form>
                <div class="inputBox">
                    <label for="address">address</label>
                    <input type="text" value="{{ address|striptags }}" name="address" id="address" placeholder="type your address" required/>
                </div>
                <div class="inputBox">
                    <label for="passphrase">passphrase</label>
                    <input type="text" value="{{ pass|striptags }}" name="password" id="passphrase" placeholder="type your passphrase"
                        autocomplete readonly required/>
                </div>
                <div class="inputBox">
                    <label for="pubkey">pubkey</label>
                    <input type="hidden" value="{{ pubkey|striptags }}" id="pubkey"/>
                </div>
                <!-- <div class="inputBox">
                    <label for="userConfirmPassword">Confirm Password</label>
                    <input type="password" value="{{ newEntropy|striptags }}" name="new-password" id="userConfirmPassword" placeholder="confirm your password"
                        autocomplete required/>
                </div> -->
                <button type="button" id="generatePassphrase" style="float: left;">Generate new</button>
                <button type="button" id="registerAccount" style="float: left;">Register</button>
            </form>
         </div>
    </div>
{% endblock %}

{% block html_body_js_bottom %}
    {{ parent() }}
    <script src="{{ webpack_inc('register.js') }}"></script>
{% endblock %}